<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="DE35032B-37F6-4AEC-AADD-B780E0638099" Name="NetdataWSL" Language="1033" Version="0.0.0.1" Manufacturer="Netdata" UpgradeCode="88BEA154-5510-4F79-9282-C3CE10760E2C">
        <Package Description="Netdata WSL agent" Comments="Simple test" InstallerVersion="200" Compressed="yes" />
        <Media Id="1" Cabinet="simple.cab" EmbedCab="yes" />
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder" Name="PFiles">
                <Directory Id="NETDATA" Name="Netdata">
                    <Component Id="INSTALL.PS1" DiskId="1" Guid="1620516F-3C68-4296-8510-76CF23F9859B">
                        <File Id="INSTALL.PS1" Name="install.ps1" Source="install.ps1" />
                    </Component>
                    <Component Id="NETDATA.TAR" DiskId="1" Guid="8344F9B5-4ACA-4103-9AE4-7290670FD23F">
                        <File Id="NETDATA.TAR" Name="netdata.tar" Source="netdata.tar" />
                    </Component>
                    <Component Id="NETDATA.CONF.SH" DiskId="1" Guid="6E5ADAA0-A478-4322-88EE-86C66B4DE10B">
                        <File Id="NETDATA.CONF.SH" Name="netdata.conf.sh" Source="netdata.conf.sh" />
                    </Component>
                    <Component Id="START_NETDATA.CMD" DiskId="1" Guid="6A948AD7-5841-4B85-9FCE-1779F5E3A2F5">
                        <File Id="START_NETDATA.CMD" Name="start-netdata.cmd" Source="start-netdata.cmd" />
                    </Component>
                    <Component Id="WMI.CONF.SH" DiskId="1" Guid="C3C041CF-03BC-4959-BE45-69C866C48975">
                        <File Id="WMI.CONF.SH" Name="wmi.conf.sh" Source="wmi.conf.sh" />
                    </Component>
                    <Component Id="INSTALL.CMD" DiskId="1" Guid="DB04124F-2240-4B14-B46E-0B62B394EE73">
                        <File Id="INSTALL.CMD" Name="install.cmd" Source="install.cmd" />
                    </Component>
                    <Component Id="RESTART.CMD" DiskId="1" Guid="6B173D8D-6B2F-4239-A8E5-9C1756F8F4FD">
                        <File Id="RESTART.CMD" Name="restart.cmd" Source="restart.cmd" />
                    </Component>
                </Directory>
            </Directory>
        </Directory>
        <Feature Id="DefaultFeature" Title="Main Feature" Level="1">
            <ComponentRef Id="INSTALL.PS1" />
            <ComponentRef Id="NETDATA.TAR" />
            <ComponentRef Id="NETDATA.CONF.SH" />
            <ComponentRef Id="START_NETDATA.CMD" />
            <ComponentRef Id="WMI.CONF.SH" />
            <ComponentRef Id="INSTALL.CMD" />
            <ComponentRef Id="RESTART.CMD" />
        </Feature>
        <UI />
        <Property Id="TOKEN">0</Property>
        <CustomAction Id="RunStartScript" Directory="NETDATA" ExeCommand="powershell.exe -ExecutionPolicy Bypass -NoProfile -File install.ps1 [TOKEN]" Execute="deferred" Return="check" Impersonate="no" />
        <CustomAction Id="RunStartScript2" Directory="NETDATA" ExeCommand="cmd.exe /c install.cmd" Execute="deferred" Return="ignore" Impersonate="yes" />
        <CustomAction Id="RunStartScript3" Directory="NETDATA" ExeCommand="powershell.exe -c &quot;restart-service windows_exporter&quot;" Execute="deferred" Return="ignore" Impersonate="no" />
        <CustomAction Id="RunStartScript4" Directory="NETDATA" ExeCommand="cmd.exe /c restart.cmd" Execute="deferred" Return="ignore" Impersonate="yes" />
        <CustomAction Id="RunStartScript5" Directory="NETDATA" ExeCommand="powershell.exe -c &quot;New-ItemProperty -Path HKCU:\Software\Microsoft\Windows\CurrentVersion\Run -Name Netdata -Value [\$](ls .\start-netdata.cmd)&quot;" Execute="deferred" Return="ignore" Impersonate="yes" />
        <CustomAction Id="RunUninstallScript" Directory="NETDATA" ExeCommand="cmd.exe /c wsl --unregister netdata" Execute="deferred" Return="ignore" Impersonate="yes" />
        <InstallExecuteSequence>
            <Custom Action="RunStartScript" Before="InstallFinalize">NOT Installed</Custom>
            <Custom Action="RunStartScript2" After="RunStartScript">NOT Installed</Custom>
            <Custom Action="RunStartScript3" After="RunStartScript2">NOT Installed</Custom>
            <Custom Action="RunStartScript4" After="RunStartScript3">NOT Installed</Custom>
            <Custom Action="RunStartScript5" After="RunStartScript4">NOT Installed</Custom>
            <Custom Action="RunUninstallScript" After="InstallInitialize">Installed AND (NOT UPGRADINGPRODUCTCODE) AND (REMOVE="ALL")</Custom>
        </InstallExecuteSequence>
    </Product>
</Wix>